In [3]:
print("Hello, World")

Hello, World

In [5]:
# python syntax
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [9]:
# this is comment 
print("Hello, world")
print("hello, world") # this is comment

Hello, world
hello, world

In [13]:
# python variable
x = 5
y = "Nika"
print(x)
print(y)

5
Nika

In [19]:
# Casting : if you want to specify the data type of a variable, this can be done with casting
x = str(3) # x will be '3'
y = int(3) # x will be 3
z = float(3) # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [23]:
# how to get type: you can get the data type of a variable with the type() function 
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [29]:
# Single or Double quotes: string variables can be declared either by using single or double quote
x = "John"
y = 'John'
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [33]:
# variable name are case-sensitive
a = 4
A = "salary"
print(a)
print(A)

4
salary

In [36]:
# variable name : Legal variable name
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
# variable name :illegal variable name
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (194784362.py, line 9)

In [40]:
# Camel Case
myVariableName = "John"
print(myVariableName)

John

In [44]:
# Pascal Case
MyVariableName = "John"
print(MyVariableName)

John

In [48]:
# snake case
my_variable_name = "John"
print(my_variable_name)

John

In [52]:
# Pyhtin Variable - Assign Multiple Values
x, y, z = "Orange", "Banna", "Cherry"
print(x)
print(y)
print(z)

Orange
Banna
Cherry

In [56]:
# On value to multiple value
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [64]:
# unpack a collection: if you have a collection of values in a list, tuple etc. 
# Python allows you to extract the values into variables. this is called unpacking
fruits = ["apple", "banna", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banna
cherry

In [68]:
# Output Variables: the python print() function is often used to output variables
x = "Python is awesome"
print(x)

Python is awesome

In [72]:
# In python print() function, we can output multiple variables by separeted by a comma
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [114]:
# we can also use the + operator to output multiple variables
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [88]:
# for number the + operator works as a mathematical operator 
x = 5 
y = 10
print(x+y)

15

In [92]:
# in print() function can not combine a string and a number with the + operator 
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [96]:
# the best way to output multi variable in the print() function is to separate them with commas
x = 5
y = "John"
print(x, y)

5 John

In [110]:
# global variable : create outside function 
x = "awesome"
def myfunc():
    print("Python is "+ x)
myfunc()

Python is awesome

In [116]:
# if create variable inside function we call local variable 
# local Variable can only be used inside the function
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)
myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [128]:
# To create a global variable inside a function, we can use the global keyword
def myfunc():
    global x
    x = "fantastic"
    print(x)
myfunc()

print("Python is " + x)

fantastic
Python is fantastic

In [124]:
 ## built in data type
# text type: str
# numeric types: int, float, complex
# sequence types: list, tuple, range
# mapping type: dict
# set types: set, frontzenset
# boolean type: bool
# binary type: bytes, bytearry, memoryview
# none type: NoneType

In [130]:
# get data type
x = 5
print(type(x))

<class 'int'>

In [134]:
# python number
x = 1 # int
y = 2.8 # float 
z = 1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [142]:
# int
x = 1
y = 35656222554887711
z = -3255522
print(x)
print(y)
print(z)

1
35656222554887711
-3255522

In [150]:
# Float
x = 1.10
y = 1.0
z = -35.59 
print(x)
print(y)
print(z)

1.1
1.0
-35.59

In [156]:
# complex
x = 3+5j
y = 5j
z = -5j
print(x)
print(y)
print(z)

(3+5j)
5j
(-0-5j)

In [161]:
# convert from one type to another 
x = 1 # int
y = 2.8 # float
z = 1j # complex

# convert from int to float
a = float(x)

# convert from float to int
b = int(y)

# convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [169]:
# random number : python don't have a random() function to make a random number
# but python has a built-in module called random that can be used to make random numbers
import random
print(random.randrange(1,10))

7

In [175]:
# specify a variable type
# integer
x = int(1) # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [179]:
# float
x = float(1) # x will be 1.0
y = float(2.8) # y will be 2.8
z = float("3") # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [183]:
# string
x = str("s1") # x will be 's1'
y = str(2) # y will be '2'
z = str(3.0) # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [193]:
# python string : have single quote and double quote
# 'hello' is the same as "hello"
print("hello")
print('hello')

hello
hello

In [197]:
# quote inside quote
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [201]:
# assign string to a variable
a = "Hello"
print(a)

Hello

In [206]:
# mutliline string
a = """ Welcome to learning coding, please take care of yourself. Take a rest and happy to learn"""
print(a)

 Welcome to learning coding, please take care of yourself. Take a rest and happy to learn

In [210]:
a = ''' Welcome to learning coding, 
please take care of yourself.
Take a rest and happy to learn.'''
print(a)

 Welcome to learning coding,
please take care of yourself.
Take a rest and happy to learn.

In [214]:
# string are arrays
a = "Hello, World"
print(a[1])

e

In [218]:
# loop through a string
for x in "banna":
    print(x)

b
a
n
n
a

In [222]:
# string lenght
a = "Hello, World"
print(len(a))

12

In [226]:
# check string
txt = "The best things in life are free!"
print("free" in txt)

True

In [230]:
# use if statement
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [233]:
# check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [239]:
# use if statement
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is not present.")

No, 'expensive' is not present.

In [2]:
# slicing : get the character from position 2 to 5 **The first character has index 0
b = "Hello, World"
print(b[2:5])

llo

In [6]:
# Slice from the start
b = "Hello, World"
print(b[:5])

Hello

In [10]:
# Slice to the end : get the character from position 2, till to the end
b = "Hello, World"
print(b[2:])

llo, World

In [14]:
# negative indexing: use negative indexes to start the slice from the end of the string
b = "Hello, World"
print(b[-5:-2])

Wor

In [18]:
# modify string
# python has a set of built-in methods that we can use on string
# upper() method returns the string in upper case
a = "Hello, World"
print(a.upper())

HELLO, WORLD

In [22]:
# lower case
a = "Hello, World"
print(a.lower())

hello, world

In [26]:
# remove whitespace
a = "Hello, World"
print(a.strip())

Hello, World

In [32]:
# replace string 
a = "Hello, World"
print(a.replace("H", "J"))

Jello, World

In [36]:
# Split String 
# split() method returns a list where the text between the specificed separtor becomes the list items
a = "Hello, World"
print(a.split(","))

['Hello', ' World']

In [40]:
# String Concatenation: combine two string we can use the + operator 
a = "hello"
b = "world"
c = a + b
print(c)

helloworld

In [44]:
# add space between them
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [48]:
# Format string
# F-String: was introduced in python 3.6
# and now the preferred way of formatting string
# create an f-string
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [52]:
# add a placeholder for the price variable
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [56]:
# display the price with 2 decimals
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [62]:
# perform a math operation in the placeholder, and return the result
txt = f"The price is {20*59} dollars"
print(txt)

The price is 1180 dollars

In [68]:
# escape character
# to insert character that are illegal in a string, use an escape character \
txt = "We are the so-called \"Vilkings\" from the north."
print(txt)

We are the so-called "Vilkings" from the north.